nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px 15px 5px 15px;
    position: fixed;
    background-color: white;
    top: 0px;
}
.navLogo{
    width: 165px;
}
.navList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
}
li a {
    margin: 0px 8px 0px 8px;
    color: rgb(81, 81, 81);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.block1{
    background-image: url("../images/landing.jpg");
    height: 70vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.block1Text{
    padding-top: 27vh;
}
.block1Text1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block1Text2{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}
.block2Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block2Img{
    height: 65px;
}
h2{
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block2Text1{
    color: rgb(38, 158, 100);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block2Text2{
    max-width: 150px;
    color: rgb(85, 85, 85);
    font-weight: lighter;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block3{
    background-color:rgb(38, 158, 100);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.block3Text{
    color: white;
    padding: 20px;
}
.block3Text h2{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 50px;
}
.block3Text h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block3Text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-bottom: 45px;
}
.block3Img{
    height: 490px;
}

@media screen and (max-width:480px){
    .block1Text1{
        font-size: 33,5px;
        max-width: 350px;
        margin: auto;
    }
    .block1Text2{
        font-size: 12px;
        max-width: 300px;
        margin: auto;
        padding-top: 20px;
    }
}
@media (min-width:481px) and (max-width:719px) {
    .block1Text1{
        font-size: 40px;
    }
    .block1Text2{
        font-size: 14px;
    }
}
@media screen and (min-width:720px){
    .block1Text1{
        font-size: 50px;
    }
    .block1Text2{
        font-size: 16px;
    }
}

